node_modules
bin
obj
include
lib
lib64
pyvenv.cfg
.last_reset_time
*.db
test*.sh
.env
*.zip
/challenges/Steganography/Polyglot/_Create_File/Bento4-SDK-1-6-0-641.x86_64-microsoft-win32
!/challenges/Steganography/Polyglot/_Create_File/input_files/order.zip