# Mongo
DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=""

# Express
SESSION_SECRET=
CHALLENGE_UPLOAD_DIR=""

# Discord KHI Admin Role ID
KHI_ADMIN_ID=""

# Home page URL must match the OAuth apps homepage URL value
HOMEPAGE_URL=""
REACT_APP_HOMEPAGE_URL=${HOMEPAGE_URL}

# GitHub OAuth (has to match the OAuth app information)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL=""

# Discord OAuth (has to match the OAuth app information)
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_CALLBACK_URL=""