# How to run container: docker-compose up -d --build
services:
  web:
    container_name: web3
    environment:
      - FLAG=${FLAG}
    build:
      context: .
      dockerfile: Dockerfile
    image: web3:latest
    network_mode: "host" # only works on Linux, ignores ports
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.khi.rule=Host(`web3.ctf.hacksu.com`)"
      - "traefik.http.routers.khi.entrypoints=websecure"
      - "traefik.http.routers.khi.tls.certresolver=letsencrypt"
      - "traefik.http.services.khi.loadbalancer.server.port=4444"
    restart: unless-stopped