# How to run container: docker-compose up -d --build
services:
  web:
    container_name: web3
    environment:
      - FLAG=${FLAG}
    build:
      context: .
      dockerfile: Dockerfile
      cache_from:
        - web3:latest
    image: web3:latest
    network_mode: "host" # only works on Linux, ignores ports
    #ports:
      #- "80:4444" # hosts 80 forwards to dockers 4444
    restart: unless-stopped