.edit-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;

    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: auto;

    background-color: rgba(255, 255, 255, 0.74);
}

.challenge-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    overflow-y: auto;
}

.challenge-overlay > div {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    max-width: 550px;
    max-height: 90vh;
    overflow-y: auto;
}

.view-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-alert {
    background-color: rgba(240, 248, 255, 0.195);

    padding: 10px;
    max-width: 600px;
    
    border-color: rgb(62, 215, 103);
    border-radius: 5px;
    border-style: solid;

    color: white;
}

.view-err {
    border-color: rgb(215, 80, 62);
}